<!--PROPERTY BINDING-->

<!--<button (click)="clickpin()" [disabled]="isdisabled">click here</button>


<br>
<br>

TWO WAY BINDING-->

<!--<input type="text"[(ngModel)]="hello" width="20">
<br>
<h2>REFLECTS HERE {{hello}}</h2>
<br>
<br>
<h5>ROUTING CONCEPTS</h5>
<br>
<button (click)="stu()" >STUDENT BUTTON</button>
<button (click)="teach()" >TEACHER BUTTON</button>
<br>
<router-outlet></router-outlet>-->
<!--<div *ngif="show">-->
<ul>
    <Li *ngFor ="let eachstudent of details.getmtd()">
    {{eachstudent.sname}} in class {{eachstudent.class}}
</Li>
</ul>




